


:root{
    --mainColor-:rgb(223, 46, 2);
    --secondColor: rgb(248, 244, 244);
}
.lightBoxUserRegister{
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    inset:0;
    z-index: 1001;
    height: 500VH;
    display: none;
}

.registerBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    /* display: none; */
    
}
#closeRegisterIcon{
    position: absolute;
    top: 20px !important;
    right: 20px !important;
    color: var(--mainColor-) !important;
    /* z-index: 1002123; */
}
.register{
    padding: 30px;
    position: relative;
}
.registerLabel{
    margin-top:5px ;
    margin-bottom: 5px;
    font-size: 16px !important;
}
#registerInput{
    margin-top:5px ;
    margin-bottom: 5px;
    font-size: 14px !important;
    border: 1px solid var(--mainColor-) !important;
    border-radius:5px ;
    padding: 5px !important;
}

.registerTitle{
    margin-bottom: 25px;
    
}
.btn-register{
    margin-left: 275px !important;
    margin-bottom: 20px !important;
    font-size: 20px !important;
    margin-top: 10px !important;
    color: white !important;
}
.registerLink{
    text-decoration: none;
}
@media screen and (max-width :768px){
    #registerInput{
        width: 100%;
    }
    .registerTitle{
        font-size: 33px !important;
    }
    .btn-register{
        margin-left: 90px !important;
        margin-bottom: 20px !important;
        font-size: 15px !important;
    }
    .form-register{
        padding: 5px !important;
    }
    #closeRegisterIcon{
        position: absolute;
        top: 10px !important;
        right: 10px !important;
        color: var(--mainColor-) !important;
        font-size: 25px !important;
    }


}